Concept, Rules, Requirements.

Tank Game

Concept:
Tank battle: Player vs. Multiple AI

Rules:
Victory: Defeat all AI.
Defeat: HP drops <= 0.

Requirements:
Tank Meshes
Explosion Sounds
Engine/ grinding sounds
Environment textures
Metal textures


Course Concept, Rules and Requirements.

Concept:
Tank battle is an open-world head-to-head tank combat game.
The terrain will be used for tactical advantage.
The focus will be on flow and feel.

Rules:
You can move anywhere in the terrain, which is surrounded by mountains.
Both players start with finite health and ammo.
Each direct health takes away health.
The last player standing wins.

Requirements:
SFX: Gun firing, explosion, barrel moving, turret moving, engine sound.
Static Mesh: Simple tank comprising of tracks, body, turret and barrel.
Textures: Later-on we'll want to add textures for visual flair.
Music: Background music to create tension.